<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  
</head>


<body>
  <app-navbar></app-navbar>
  <div class="container" id="speakerList">
    <div class="row">
      <div class="col-sm-8">
        <article class="speakerslist ">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 ">
                <h3 class="speakerslist-title">Art in Full Bloom</h3>
                <h5 class="speakerslist-name">with
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/speaker0']">Daniel Smith</a>
                </h5>
                <p class="speakerslist-info">
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/speaker0']">
                    <img class="speakerslist-img img-circle pull-left" src="../../../../assets/images/Daniel_Smith.jpg" alt="Photo of Daniel Smith">
                  </a>
                  Drawing and painting colored smoke may seem like a first-year art student&#39;s assignment, but Daniel Smith brings depth, shadows,
                  light, form and color to new heights with his unique and revolutionary technique of painting on canvas
                  with ceramic glaze. This session is sure to be a hit with mixed media buffs.
                </p>
              </div>
              <div class="col-sm-8 ">
                <h3 class="speakerslist-title">Deep Sea Wonders</h3>
                <h5 class="speakerslist-name">with
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/speaker1']">Hilary Goldywynn Post</a>
                </h5>
                <p class="speakerslist-info">
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/speaker1']">
                    <img class="speakerslist-img img-circle pull-left" src="../../../../assets/images/Hillary_Goldwynn.jpg" alt="Photo of Hilary Goldywynn Post">
                  </a>
                  Hillary is a sophomore art sculpture student at New York University, and has won the major international prizes for painters,
                  including the Divinity Circle and the International Painter&#39;s Medal. Hillary&#39;s exhibit features
                  paintings that contain only water including waves, deep sea, and river.
                </p>
              </div>
              <div class="col-sm-8 ">
                <h3 class="speakerslist-title">The Art of Abstract</h3>
                <h5 class="speakerslist-name">with
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/speaker2']">Rudolph Rewington</a>
                </h5>
                <p class="speakerslist-info">
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/speaker2']">
                    <img class="speakerslist-img img-circle pull-left" src="../../../../assets/images/Rudolph_Rewington.jpg" alt="Photo of Rudolph Rudolph Rewington">
                  </a>
                  The leader of the MMA artistic movement in his hometown of Portland, Rudolph Rudolph Rewington takes images of ancient structures wherever he goes.
                  Mixing street performance, video, music, and traditional art, Rudolph has created some of the most unique
                  and deeply poignant abstract works of his generation.
                </p>
              </div>
            </div>

          </div>
         
        </article>
      </div>
     

      
      <aside class="col-sm-4">
        <article class="sidebar">
          <h1 class="sidebar-title">Artwork on display</h1>
          <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>
          <div class="pixgrid clearfix">
            <img src="../../../../assets/images/Daniel_Smith_01_tn.jpg" alt="Artwork 0">
            <img src="../../../../assets/images/Daniel_Smith_02_tn.jpg" alt="Artwork 1">
            <img src="../../../../assets/images/Daniel_Smith_03_tn.jpg" alt="Artwork 2">
            <!-- <img src="../../../../assets/images/Daniel_Smith_04_tn.jpg" alt="Artwork 3"> -->
          </div>
          <div class="pixgrid clearfix">
            <!-- <img src="../../../../assets/images/Hillary_Goldwynn_01_tn.jpg" alt="Artwork 4"> -->
            <!-- <img src="../../../../assets/images/Hillary_Goldwynn_02_tn.jpg" alt="Artwork 5"> -->
            <img src="../../../../assets/images/Hillary_Goldwynn_03_tn.jpg" alt="Artwork 6">
            <img src="../../../../assets/images/Hillary_Goldwynn_04_tn.jpg" alt="Artwork 7">
            <!-- <img src="../../../../assets/images/Hillary_Goldwynn_05_tn.jpg" alt="Artwork 8"> -->
            <img src="../../../../assets/images/Hillary_Goldwynn_06_tn.jpg" alt="Artwork 9">
          </div>
          <div class="pixgrid clearfix">
              <img src="../../../../assets/images/Rudolph_Rewington_01_tn.jpg" alt="Artwork 11">
              <img src="../../../../assets/images/Rudolph_Rewington_02_tn.jpg" alt="Artwork 12">
              <img src="../../../../assets/images/Rudolph_Rewington_03_tn.jpg" alt="Artwork 13">
          </div>
        </article>
      </aside>

    </div>
  </div>
</body>