<head>
    <title>Roux Meetups--Speaker Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
    
  </head>
  
  
  <body>
    <app-navbar></app-navbar>
  
  
    <div class="container" id="speakerDetail">
      <div class="row">
        <div class="col-sm-8">
          <article class="speakerslist ">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 ">
                  <h3 class="speakerslist-title">Lorenzo Garcia</h3>
                  <div class="speakerslist-info">
                    <a href="./Hillary_Goldwynn.html"> </a>
                    <img class="speakerslist-img img-responsive pull-left" src="../../../../assets/images/Rudolph_Rewington.jpg" alt="Photo of Hilary Goldywynn Post">
                    <p>Rudolph started out as musician and street performance artist, and now blends painting and photography with audio, video, and computer multimedia to create what he calls 'Music and Multimedia Artworks.' Rudolph's innovations in using multimedia to express art have created a youth culture movement in his town of Portland, in which he remains at the forefront. In his role as the founder of the MMA art form, Rudolph has become an inspiration to many up and coming artists. However, the part Rudolph insists is most important to him, is that he's helped many troubled youth take control of their lives, and create their own unique, positive futures. Seeing kids he's mentored graduate from high school and enroll in college, gives art the purpose that Rudolph so craves.
                    </p>
                    <p>A first-year student at the Roux Academy of Art, Media, and Design, Rudolph is already changing the face of modern art at the university. Rudolph's exquisite abstract pieces have no intention of ever being understood, but instead beg the viewer to dream, create, pretend, and envision with their mind's eye. Rudolph will be speaking on the 'Art of Abstract' during Thursday's schedule.
                    </p>
                  </div>
                </div>
              </div>
  
            </div>
  
          </article>
        </div>
  
        <aside class="col-sm-4">
          <article class="sidebar">
            <h1 class="sidebar-title">Artwork on display</h1>
            <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>
            <div class="pixgrid clearfix">
                <img src="../../../../assets/images/Rudolph_Rewington_02_tn.jpg" alt="Artwork 12">
                <img src="../../../../assets/images/Rudolph_Rewington_01_tn.jpg" alt="Artwork 11">
                <img src="../../../../assets/images/Rudolph_Rewington_03_tn.jpg" alt="Artwork 13">

            </div>
          </article>
        </aside>
  
      </div>
    </div>
  </body>